.postedContainer {
  /* width: 25rem; */
  width: 30%;
  height: fit-content;
  height: 70rem;
  background-color: rgb(28, 28, 67);
  padding: 1rem;
  height: 40rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.job {
  background-color: rgb(44, 44, 116);
  margin-top: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  position: relative;
}
.job ul li p {
  font-size: 1.8rem;
}

.job ul li div {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  /* gap: 14.8rem; */
  justify-content: space-between;
  align-items: center;
}

.optbtnn {
  padding: 0.4rem 0;
  letter-spacing: 0;
}

/* Options */

.options {
  display: flex;
  flex-direction: column;
  gap: 0 !important;
  position: absolute;
  right: 2rem;
  top: 0;
  /* display: none; */
  cursor: pointer;
}
.options button {
  margin: 0;
  padding: 0 !important;
  font-size: 1.6rem !important;
  cursor: pointer;
}

.showoption {
  display: none;
  opacity: 0;
  pointer-events: none;
}
