.postedContainer {
  width: 25rem;
  height: fit-content;
  background-color: rgb(28, 28, 67);
  padding: 1rem;
  height: 40rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.job {
  background-color: rgb(44, 44, 116);
  margin-top: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
}
.job ul li p {
  font-size: 1.8rem;
}

.job ul li div {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  align-self: center;
  text-align: center;
}

.job ul li div button {
  font-size: 2.2rem;
}

/* Options */

.options {
}
