.statsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.statBox {
  background-color: rgb(20, 20, 41);
  padding: 1.5rem;
  border-radius: 8px;
  width: 15rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.statBox div {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}
