.continer {
  width: 30rem;
}

.MessagerProfile {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 30, 30);
  padding: 1rem 2rem;
}
.messangers {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  /* flex-direction: column; */
}

.messangers h1 {
  font-size: 1.8rem;
}
.messages {
  display: flex;
  flex-direction: column;
}
