.continer {
  width: 30rem;
}

.MessagerProfile {
  display: flex;
  flex-direction: column;
}
.messangers {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  /* flex-direction: column; */
}
.messages {
  display: flex;
  flex-direction: column;
}
