/* *****************
NAVIGATION 
*****************/
.staticnav {
  position: static;
}
.navContainer {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  font-size: 2rem;

  background-color: rgba(0, 0, 0, 0.774);
  background-color: black;
  height: 8rem;
  border-radius: 0 0 8px 8px;
  gap: 9rem;
  padding: 0 6.8rem;
  position: fixed;
  z-index: 1000;
  width: 100%;
  width: fit-content;
}

.sidNav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.heading {
  font-size: 5rem;
  text-align: center;
  color: white;
}

.navBtns {
  display: flex;
  gap: 1rem;
  text-align: center;
  margin-top: 16px;
}
.sidNav button {
  margin: 0;
}

.navBtn {
  background-color: black;
  /* background-color: rgba(0, 0, 0, 0.774); */
  z-index: 1000;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  font-size: 3rem;
  padding: 0;
  padding: 8px;
}

.navBtn ion-icon {
  background-color: rgba(0, 0, 0, 0.774);
}
/* font-size: 1.8rem; */

/* [name="menu-outline"],
[name="cart-outline"],
[name="person-outline"] {
  border: none;
  color: white;
  font-size: 3rem;
  padding: 0;
  background-color: inherit;
} */

.search {
  position: relative;
}
.search input {
  position: absolute;
  top: 0.8rem;
  right: 0rem;
  width: 22rem;
  height: 3.2rem;
  border: none;
  border-radius: 5px;
}

.Productsnav {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.Productsnav p {
  font-weight: 600;
  font-size: 2.4rem;
  color: white;
  text-align: center;
  opacity: 80%;
}

/* a {
  text-decoration: none;
} */
