.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 60rem;
  margin: 2rem auto;
}

.userInfo {
  width: 100%;
  background-color: rgb(24, 24, 49);
  padding: 2rem;
  border-radius: 8px;
  color: white;
  display: flex;
  /* justify-content: space-between; */
  gap: 5rem;
}
.userInfoHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.userInfo img {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin-bottom: 1rem;
}
.userHeader {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
}
.userHeader h2 {
  font-size: 2.4rem;
  margin: 0;
}
.userHeader p {
  font-size: 1.6rem;
  color: #ccc;
}

.userDetails {
  display: flex;
  flex-direction: column;
}
.editBtn {
  background-color: #9e5a2d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-radius: 4px;
  margin-right: 1rem;
  cursor: pointer;
}
.publicBtn {
  background-color: #9e5a2d;
  color: white;
  border: none;
  padding: 0.1rem 1rem;
  font-size: 1.4rem;
  border-radius: 4px;
  margin-right: 1rem;
  cursor: pointer;
}
.userBio {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #ddd;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
