.body {
  background-color: #1a202c;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to right,
    rgb(25, 25, 56),
    rgb(34, 34, 80),
    rgb(46, 46, 105)
  );

  padding: 20px;
  font-family: sans-serif;
}

.formCard {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #1a202c;
  margin-bottom: 8px;
  text-align: center;
}

.subtitle {
  color: #718096;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 32px;
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1.8rem;
  font-weight: 500;
  color: #4a5568;
  margin-bottom: 6px;
}

.input {
  padding: 1rem 16px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 1.8rem;
  transition: border-color 0.2s;
  background-color: #fff;
  color: #1a202c;
}

.input:focus {
  outline: none;
  border-color: #4299e1;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.1);
}

.registerButton {
  background-color: #4299e1;
  background-color: rgb(53, 53, 118);
  color: white;
  border: none;
  padding: 1.2rem;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 0.8rem;
}

.registerButton:hover {
  background-color: #175c9c;
}

.divider {
  position: relative;
  text-align: center;
  margin: 32px 0;
}

/* .divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e2e8f0;
} */

.dividerText {
  background: white;
  padding: 0 16px;
  color: #718096;
  font-size: 14px;
  position: relative;
}

.socialButtons {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}

.socialButton {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 16px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  background: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.socialButton:hover {
  background-color: #f7fafc;
  border-color: #cbd5e0;
}

.socialIcon {
  font-weight: 600;
  color: #4a5568;
}

.signinLink {
  text-align: center;
  color: #718096;
  font-size: 14px;
}

.link {
  color: #4299e1;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}
