.container {
  background-color: rgb(25, 25, 56);
  background: linear-gradient(
    to right,
    rgb(25, 25, 56),
    rgb(34, 34, 80),
    rgb(46, 46, 105)
  );
  height: 100vh;
}
.container h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  padding-top: 20vh;
}
.container p {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-top: 16px;
}
