.container {
  background-color: rgb(25, 25, 56);
  height: 100vh;
}
.container h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  padding-top: 20vh;
}
.container p {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-top: 16px;
}
