.dashboardContainer {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(38, 38, 85);
  background-color: rgb(27, 27, 54);
  /* height: 100vh; */
  padding: 2rem;
  padding-top: 4rem;
  overflow-y: none;
}

.dashboardContent {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.displayContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0rem;
  width: 80%;

  margin: 1rem;
  background-color: rgb(24, 24, 49);
}
.displayContainer div {
  display: flex;
  gap: 2rem;
  /* padding: 2rem; */
}
.displayContainer h2 {
  font-size: 2.5rem;
  color: white;
  text-align: left;
  justify-content: left;
  /* margin-bottom: 1rem; */
}
.dashBoardHeader {
  display: flex;
  font-size: 2.5rem;
  color: white;
  text-align: left;
  align-items: start;
  /* justify-content: left; */
  /* margin-bottom: 1rem; */
}
.shortCut {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 8px;
  /* border: 1px solid #ccc; */
  width: 20rem;
  background-color: rgb(20, 20, 41);
}
.profilePreview {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.profilePreview h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}
.profilePreview img {
  border-radius: 50%;
  width: 10rem;

  height: 10rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.profilePreview p {
  font-size: 1.4rem;
  color: #ddd;
}
.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  /* justify-content: left; */
  align-items: left;
}
.buttonsContainer button {
  padding: 0.8rem;
  padding-left: 2rem;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: left;
}

.buttonsContainer :first-child {
  background-color: #4a90e2;
  color: white;
  border: none;
}

.logout {
  background-color: #e94e4e;
  color: white;
  text-align: center;
  border: none;
  font-size: 1.4rem;
}
